<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <!-- <app-new-account (accountAdded)="onAccountAdded($event)"></app-new-account> -->
      <app-new-account></app-new-account>
      <hr>
      <!--   <app-account
        *ngFor="let acc of accounts; let i = index"
        [account]="acc"
        [id]="i"
        (statusChanged)="onStatusChanged($event)"></app-account> -->
      <!--  
      If we want to pass inform from one sibling to another sibling, we use pass the inform from child1 to
      parent, then pass infor from parent to child2.
      But using services no need follow this long path, rather we can communicate b/w child1 & child2
      using services
      -->
      <app-account *ngFor="let acc of accounts; let i = index" [account]="acc" [id]="i"></app-account>
    </div>
  </div>
</div>
